<!DOCTYPE html>
<html lang="es" xmlns:th="https://thymeleaf.org">
<html lang="es" xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Libro</title>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .book-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin-bottom: 10px;
        }

        .book-info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 20px;
        }

        .book-image {
            flex-shrink: 0;
            width: 120px;
            height: 180px;
            object-fit: cover;
            margin-right: 20px;
        }

        .buttons {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <nav th:replace="~{/fragments/navBar.html::navegacion}"></nav>

    <h1>Detalle del Libro</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between mb-3">
                    <h3 th:text="${libro.titulo}">Título del libro</h3>
                </div>

                <!-- Información del libro -->
                <div class="book-row">
                    <!-- Portada del libro a la izquierda (más grande) -->
                    <img th:src="'/libro/files/'+${libro.rutaFoto}" alt="Imagen del libro" class="book-image" />

                    <!-- Información del libro -->
                    <div class="book-info">
                        <h5>
                            <span th:text="${libro.titulo}">Titulo</span>
                        </h5>
                        <p><strong>Año:</strong> <span th:text="${libro.año}">Año</span></p>
                        <p><strong>Autor:</strong> <span th:text="${libro.autor}">Autor</span></p>
                        <p><strong>Sinopsis:</strong> <span th:text="${libro.sinopsis}">Sinopsis</span></p>
                        <p><strong>Idioma:</strong> <span th:text="${libro.idioma}">Idioma</span></p>
                        <p><strong>Fecha de registro:</strong> <span th:text="${libro.fechaDeAlta}">Fecha de alta</span></p>
                        <p><strong>Género:</strong>  <span th:text="${libro.genero != null ? libro.genero.nombre : 'Sin género'}">Género</span>
                        </p>
                        
                        <!-- Mostrar la cantidad de votantes y la suma de puntos -->
                        <p><strong>Cantidad de Votantes:</strong> 
                            <span th:text="${votantes != null and votantes[libro.id] != null ? votantes[libro.id] : 'Sin votos'}"></span>

                        </p>

                        <p><strong>Suma de Puntos:</strong> 
                            <span th:text="${sumas[libro.id] != null ? sumas[libro.id] : 'Sin votos'}">Suma</span>
                        </p>

                        <!-- Media de valoraciones (con validación de null) -->
                        <p>
                            <strong>Valoración Media:</strong>
                            <span th:text="${medias[libro.id] != null ? #numbers.formatDecimal(medias[libro.id], 1, 1) : 'Sin valoración'}">Valoración</span>
                        </p>

                        <!-- Botones de acción (Editar y Borrar) -->
                        <div class="buttons">
                            <a th:href="@{/libro/editar/{id}(id=${libro.id})}" class="btn btn-warning btn-sm">Editar</a>
                            <a th:href="@{/valoracion/libro/{id}(id=${libro.id})}" class="btn btn-warning btn-sm">Valoraciones</a>
                            <form th:action="@{/libro/borrar/{id}(id=${libro.id})}" class="d-inline">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
