<!DOCTYPE html>
<html lang="es" xmlns:th="https://thymeleaf.org">
<html lang="es" xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <nav th:replace="~{/fragments/navBar.html::navegacion}"></nav>

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Contacta con nosotros</h1>

        <form th:action="@{/contacta/submit}" method="post" class="border p-4 shadow rounded bg-light">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <p class="form-label">Selecciona motivo:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="queja" name="motivo" value="queja" required>
                    <label class="form-check-label" for="queja">Queja</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="consulta" name="motivo" value="consulta">
                    <label class="form-check-label" for="consulta">Consulta</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="otro" name="motivo" value="Otro">
                    <label class="form-check-label" for="otro">Otro</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="descripcion" class="form-label">Amplía información del motivo:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="condiciones" name="condiciones" required>
                <label class="form-check-label" for="condiciones">Acepto las condiciones de servicio</label>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
