<!DOCTYPE html>
<html lang="es" xmlns:th="https://thymeleaf.org">
<html lang="es" xmlns:sec="https://thymeleaf.org/thymeleaf-extras-springsecurity">
<!--<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulario de Usuario</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Libro</title>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<nav th:replace="~{/fragments/navBar.html::navegacion}"></nav>
<body>
  <div class="container mt-5">
    <h1 th:text="${usuarioForm != null and usuarioForm.id == null ? 'Crear Usuario' : 'Editar Usuario'}">Formulario Usuario</h1>
    <form th:action="@{/usuario/nuevo/submit}" th:object="${usuarioForm}" method="post">
      <input type="hidden" th:field="*{id}" />
      
      <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
      </div>
      
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" th:field="*{email}" />
      </div>
      
      <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" th:field="*{password}" required />
      </div>
  
      <!-- Crear usuario: input oculto con rol fijo -->
      <div th:if="${usuarioForm.id == null}">
          <input type="hidden" th:field="*{rol}" th:value="${T(bookadvisor.bookadvisor.domain.Rol).USER}" />
      </div>
  
      <!-- Editar usuario: selección de roles -->
      <div class="form-group" th:if="${usuarioForm.id != null}">
          <label for="rol">Rol</label>
          <select class="form-control" id="rol" th:field="*{rol}">
              <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
          </select>
      </div>
  
      <button type="submit" class="btn btn-primary" th:text="${usuarioForm.id == null ? 'Crear' : 'Guardar Cambios'}"></button>
  </form>
  
    <a class="btn btn-secondary mt-3" th:href="@{/usuario}">Volver a la lista</a>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
